.app {
  position: relative;
  /*********************head end**********************/
  /*********************foot end**********************/
}

.app .app-head {
  position: fixed;
  width: 100%;
  min-height: 60px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.09);
  z-index: 1000;
  top: 0;
  left: 0;
}

.app .app-head .app-head__body {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}

.app .app-head .app-head__body .app-logo {
  display: block;
  width: 162px;
  height: 40px;
  background-size: cover;
  text-indent: -9999rem;
  margin: 10px 0;
  text-decoration: none;
}

.app .app-head .app-head__body .app-nav {
  flex: 1 1 auto;
  margin-left: 25px;
  display: flex;
  justify-content: flex-end;
}

.app .app-head .app-head__body .app-nav > ul {
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-wrap: wrap;
  list-style: none;
  position: relative;
}

.app .app-head .app-head__body .app-nav > ul > .dropdown > a:after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border: 1px solid transparent;
  border-left-color: #9c9d9b;
  border-bottom-color: #9c9d9b;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-80%) rotate(-45deg);
  transform: translateY(-80%) rotate(-45deg);
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.app .app-head .app-head__body .app-nav > ul > .dropdown > .dropdown-menu {
  position: absolute;
  list-style: none;
  margin: 0;
  width: 120px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
  z-index: 1;
  top: 100%;
  right: 0;
  border-top: 2px solid #6bc30d;
  margin-top: -2px;
  display: none;
}

.app .app-head .app-head__body .app-nav > ul > .dropdown > .dropdown-menu > li {
  background-color: #f8f9f7;
  border-bottom: 1px solid #dededd;
  text-align: center;
}

.app .app-head .app-head__body .app-nav > ul > .dropdown > .dropdown-menu > li:last-child {
  border: none;
}

.app .app-head .app-head__body .app-nav > ul > .dropdown > .dropdown-menu > li a {
  line-height: 24px;
  padding: 5px;
  transition: all 0.1s;
}

.app .app-head .app-head__body .app-nav > ul > .dropdown > .dropdown-menu > li:hover {
  background-color: #f8f8f7;
}

.app .app-head .app-head__body .app-nav > ul > .dropdown:hover > a:after {
  -webkit-transform: translateY(-20%) rotate(-225deg);
  transform: translateY(-20%) rotate(-225deg);
}

.app .app-head .app-head__body .app-nav > ul > .dropdown:hover > .dropdown-menu {
  display: block;
}

.app .app-head .app-head__body .app-nav > ul > li {
  margin: 0 5px;
  position: relative;
}

.app .app-head .app-head__body .app-nav > ul > li.active:after {
  width: 100%;
  left: 0;
}

.app .app-head .app-head__body .app-nav > ul > li > a {
  font-size: 15px;
  line-height: 30px;
  padding: 15px 25px;
  transition: color 0.2s;
}

.app .app-head .app-head__body .app-nav > ul > li:after {
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -1px;
  left: 50%;
  background-color: #6bc30d;
  content: "";
  transition: all 0.6s;
  z-index: -1;
}

.app .app-head .app-head__body .app-nav a {
  display: block;
  text-decoration: none;
  color: #525251;
}

.app .app-head .app-head__body .app-nav a:hover {
  color: #181817;
}

.app .app-foot {
  color: #9c9d9b;
  background-color: #212220;
  margin-top: 2rem;
}

.app .app-foot .foot-top {
  padding: 0.75rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.app .app-foot .slogan {
  color: #9c9d9b;
  font-size: 1rem;
  line-height: 2;
  margin: 0;
}

.app .app-foot .google-search .search-label {
  position: relative;
  height: 2rem;
  margin: 0;
}

.app .app-foot .google-search .search-label > .search-input {
  height: 2rem;
  border-color: transparent;
  background: transparent;
  outline: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  width: 7rem;
  color: #525251;
  padding: 0.25rem 2rem 0.25rem 0;
}

.app .app-foot .google-search .search-label > .search-input::-webkit-input-placeholder {
  color: #525251;
}

.app .app-foot .google-search .search-label > .search-input::-moz-placeholder {
  color: #525251;
}

.app .app-foot .google-search .search-label > .search-input:-ms-input-placeholder {
  color: #525251;
}

.app .app-foot .google-search .search-label > .search-input:focus {
  width: 15rem;
  padding: 0.25rem 2.5rem 0.25rem 0;
  transition: all 0.2s;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.app .app-foot .google-search .search-label > .search-input:focus ~ .search-btn {
  color: #9c9d9b;
}

.app .app-foot .google-search .search-label > .search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  background: transparent;
  border: none;
  color: #525251;
  outline: none;
  transition: all 0.2s;
}

.app .app-foot .google-search .search-label > .search-btn:active,
.app .app-foot .google-search .search-label > .search-btn:hover {
  color: #9c9d9b;
}

.app .app-foot .copyright {
  padding: 1rem 0;
  color: #525251;
  position: relative;
}

.app .app-foot .copyright .links {
  font-size: 0;
  list-style: none;
  padding: 0;
  margin: -0.5rem 0 0;
}

.app .app-foot .copyright .links li {
  display: inline-block;
  margin: 0.5rem 2rem 0.5rem 0;
}

.app .app-foot .copyright .links li a {
  color: #525251;
  font-size: 14px;
}

.app .app-foot .copyright .links li a:hover {
  color: #6bc30d;
}

.app .app-foot .copyright p {
  margin-bottom: 0;
}

.app .app-foot .contact-way {
  position: absolute;
  right: 0;
  bottom: 1rem;
  font-size: 0;
  display: none;
}

.app .app-foot .contact-way a {
  display: inline-block;
  margin-left: 1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  padding-top: 6px;
  text-decoration: none;
  transition: all 0.2s;
  color: #525251;
}

.app .app-foot .contact-way a i {
  font-size: 20px;
}

.app .app-foot .contact-way a:hover {
  color: #fff;
}

.app .app-foot .contact-way a:first-of-type:hover {
  background-color: #0366d6;
}

.app .app-foot .contact-way a:nth-of-type(2):hover {
  background-color: #f56c6c;
}

.app .app-foot .contact-way a:nth-of-type(3):hover {
  background-color: #6bc30d;
}

.app .app-back-top {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 20px;
  right: -60px;
  background-color: rgba(67, 69, 70, 0.75);
  z-index: 50;
  transition: all 0.36s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.app .app-back-top:before {
  content: "";
  width: 12px;
  height: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.75);
  border-right: 1px solid rgba(255, 255, 255, 0.75);
  position: absolute;
  top: 45%;
  left: 55%;
  -webkit-transform: rotate(-45deg) translate(-50%, -50%);
  transform: rotate(-45deg) translate(-50%, -50%);
}

.app .app-back-top:active,
.app .app-back-top:hover {
  background-color: #6bc30d;
}

.app .app-back-top:active:before,
.app .app-back-top:hover:before {
  border-color: #fff;
}

.app .app-back-top.show {
  right: 12px;
  -webkit-transform: scale(1) rotate(-1turn) translate(0);
  transform: scale(1) rotate(-1turn) translate(0);
}

.mo-container {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  min-width: 20rem;
  max-width: 80rem;
}

.mo-left {
  float: left !important;
}

.mo-right {
  float: right !important;
}

.mo-clearfix:after,
.mo-clearfix:before {
  display: table;
  content: " ";
}

.mo-clearfix:after {
  clear: both;
}

@media screen and (max-width: 85.375rem) {
  .mo-container {
    max-width: 71.25rem;
  }
}

@media screen and (max-width: 64rem) {
  .mo-container {
    max-width: 53.75rem;
  }
}

@media screen and (max-width: 55rem) {
  .mo-container {
    max-width: 43.125rem;
  }
}

@media screen and (min-width: 1024px) {
  .app-foot .copyright {
    padding-right: 200px;
  }

  .app-foot .copyright .contact-way {
    display: block;
  }
}

@media screen and (max-width: 640px) {
  .app-foot .google-search {
    display: none;
  }

  .app-foot .copyright .links li {
    margin: 0.5rem 1rem 0.5rem 0;
  }

  .app-foot .copyright .links li a {
    font-size: 13px;
  }

  .app-foot .copyright .links li:last-child {
    display: none;
  }

  .app-foot .copyright p {
    font-size: 13px;
    margin-top: 0.5rem;
  }
}

